@model CreateCategory
@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>


<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                @if (ViewBag.Message != null)
                {
                    <div class="alert-success" role="alert">
                        <p>@ViewBag.Message</p>
                    </div>
                }
            </div>
            <form asp-action="Add" method="post">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" placeholder="Enter Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="DisplayOrder" class="control-label"></label>
                        <input asp-for="DisplayOrder" class="form-control" placeholder="Enter DisplayOrder" />
                        <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="CreatedDate" class="control-label"></label>
                        <input asp-for="CreatedDate" class="form-control" placeholder="Enter CreatedDate" />
                        <span asp-validation-for="CreatedDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section PageScript{                    

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}