@using Ecommerce.Web.Models

@if(TempData.Peek<ResponseModel>("ResponseMessage") != null)
{
    var response = TempData.Get<ResponseModel>("ResponseMessage");
    <div class="alert alert-@(response.Type.ToString().ToLower())" role="alert">
        @response.Message
    </div>
} 
@* else
{
    var response3 = TempData.Get<ResponseModel>("ResponseMessage");
    <div class="alert alert-@(response3.Type.ToString().ToLower())" role="alert">
        @response3.Message
    </div>
} *@